# Python
Lib/
Scripts/
Include/
pyvenv.cfg

# Pytest
__pycache__/
.pytest_cache/

# Images
*.png
!images/*.png

# vscode
.vscode/

# pypi
build/
dist/
*.egg-info/
.eggs/
*.whl
*.tar.gz
pip-wheel-metadata/
